/*
===================
FlatRead White CSS Styles
===================
Ispired by: Read Wordpress theme
-------------------
Name: FlatRead
Author: Num7
Version: 1.1
Module: column.css
*/

/* ===== COLUMN ===== */
/* ===== NORMAL DESIGN ===== */
@media (min-width: 720px) {
	#column {
		float: right;
		width: 20% !important;
		min-width: 150px;
		font-size: 80% !important;
		font-size: 1em;
		height:1%;
		margin-bottom: 5px;
		padding: 10px;
	}
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 719px) {
	#column {
		text-align:center;
		float: center;
		width: 100% !important;
		font-size: 80% !important;
		font-size: 1em;
		height:1%;
		margin-bottom: 5px;
		padding: 10px;
	}
}

#column h4 {
	/* Titles of the sections */
	margin-bottom: .5em;
	font-weight: 400;
}

#column p, #column div { margin: 10px 5px }

#column a:link { font-size: 1em; font-weight: bold; color: #333; }

#column a:hover { color: black; text-decoration: bold }

/* === List === */
#column ul li table { font-size: 100% }

#column ul {
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: .5em;
	padding-left: 1em
}

#column fieldset { margin: 0 5px 0 5px }

#column legend { font-size: 100% }
